---
import {
  App
} from 'src/applications-qwik/main-app/App.tsx'
import 'src/styles/global.css'
---

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qwik SPA</title>
  <base href="/qwik/">
  <meta name="theme-color" content="#18181b">
  <meta name="color-scheme" content="dark light">
</head>
<body class="h-full">
<div id="qwik-root" class="h-full">
  <App client:load />
</div>
</body>
</html>