---
import 'src/styles/global.css'

export const prerender = false;
---
<!DOCTYPE html>
<html lang="en" class="h-full bg-zinc-900"> {/* Added bg-zinc-900 here */}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SolidJS SPA</title>


  <meta name="theme-color" content="#18181b">
  <meta name="color-scheme" content="dark">
</head>
<body class="h-full bg-zinc-900 text-zinc-100 overflow-x-hidden"> {/* This is good */}
<div id="root-solid" class="w-full h-full"></div> {/* This will fill the body */}

<script>
  import { render } from 'solid-js/web';
  import App from 'src/applications-solid/main-app/App.tsx'

  const root = document.getElementById('root-solid');
  if (root) {
    render(() => App({}), root);
  }
</script>
</body>
</html>